@inherits LayoutComponentBase

<div class="app-layout">
    <aside class="app-sidebar">
        <NavMenu />
    </aside>

    <main class="app-main">
        <article class="app-content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Có lỗi đã xảy ra.
    <a href="" class="reload">Tải lại</a>
    <span class="dismiss">✕</span>
</div>

<AntDesign.AntContainer />
